

* {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 700px;
    margin: auto;
}

body {
    min-width: 500px;
    background-color: Gray;
}

.profileBody {
    display: inline-block;
    background-color: LightGray;
    margin-top: 10px;
    margin-left: 40px;
    width: 75%;
    height: 650px;
}
img {
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

h1 {
    margin-left: 25px;
    margin-top: 40px;
}

h2 {
    margin-left: 25px;
}

p,
ul,
strong {
    margin-top: 10px;
    margin-left: 25px;
}